version: "3.7"
services:
  api:
    image: favorite_things_api:v1
    tty: true
    stdin_open: true
    environment:
      - APP_SETTINGS=${APP_SETTINGS}
      - JWT_SECRET=${JWT_SECRET}
      - DEV_DATABASE_URL=mysql+mysqlconnector://${MYSQL_USER}:${MYSQL_PASSWORD}@localhost/${MYSQL_DEV_DATABASE}?host=favorite_things_database&port=3306
      - TEST_DATABASE_URL=mysql+mysqlconnector://root:${MYSQL_ROOT_PASSWORD}@localhost/${MYSQL_TEST_DATABASE}?host=favorite_things_database&port=3306
    build:
      context: ../../
      target: api
      dockerfile: docker/dev/Dockerfile
    ports:
      - '7000:7000'
    expose:
      - '7000'
    restart: always
    volumes:
      - ${PWD}:/src
    depends_on:
      - database
    container_name: favorite_things_api
    command: >
      sh -c "alembic upgrade head &&
             python server.py"
  client:
    image: favorite_things_client:v1
    restart: always
    ports:
      - '8080:8080'
    expose:
      - '8080'
    build:
      context: ../../    
      target: client
      dockerfile: docker/dev/Dockerfile
    volumes:
      - ${PWD}/client:/src/client
    command: npm run serve
    container_name: favorite_things_client
  database:
    image: mysql:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - '3307:3306'
    expose:
      - '3306'
    container_name: favorite_things_database
