version: "3.7"
services:
  app:
    image: favorite_things:v1
    tty: true
    stdin_open: true
    environment:
      - APP_SETTINGS=${APP_SETTINGS_VALUE}
      - JWT_SECRET=${JWT_SECRET}
      - DEV_DATABASE_URL=mysql+mysqlconnector://${MYSQL_USER}:${MYSQL_PASSWORD}@localhost/favorite_things?host=favorite_things_database&port=3306
      - TEST_DATABASE_URL=mysql+mysqlconnector://root:${MYSQL_ROOT_PASSWORD}@localhost/favorite_things_test?host=favorite_things_database&port=3306
    build:
      context: ../
      dockerfile: docker/Dockerfile
    ports:
      - '7000:7000'
    expose:
      - '7000'
    restart: always
    volumes:
      - ${PWD}:/src
    depends_on:
      - database
    container_name: favorite_things_api
  database:
    image: mysql:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - '3307:3306'
    expose:
      - '3306'
    container_name: favorite_things_database
