version: "3.7"
services:
  api:
    image: ubuntu_base
    tty: true
    stdin_open: true
    environment:
      - APP_SETTINGS=${APP_SETTINGS}
      - JWT_SECRET=${JWT_SECRET}
      - DEV_DATABASE_URL=mysql+mysqlconnector://${MYSQL_USER}:${MYSQL_PASSWORD}@localhost/${MYSQL_DATABASE}?host=favorite_things_database&port=3306
      - PROD_DATABASE_URL=mysql+mysqlconnector://root:${MYSQL_ROOT_PASSWORD}@localhost/${MYSQL_DATABASE}?host=favorite_things_database_release&port=3306
      - TEST_DATABASE_URL=mysql+mysqlconnector://root:${MYSQL_ROOT_PASSWORD}@localhost/${MYSQL_TEST_DATABASE}?host=favorite_things_database&port=3306
    build:
      context: ../../
      target: ubuntu_base
      dockerfile: docker/release/Dockerfile
    ports:
      - '7000:7000'
    expose:
      - '7000'
    restart: always
    depends_on:
      - database
    env_file:
      - ../../.env
    container_name: favorite_things_api_release
    command: >
      sh -c "cd app/server &&
             alembic upgrade head &&
             gunicorn wsgi:app --worker-class gevent -b 0.0.0.0:7000 --reload --log-syslog"
  database:
    image: mysql:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - '3307:3306'
    expose:
      - '3306'
    container_name: favorite_things_database_release
  my_nginx:
    image: ubuntu_base
    tty: true
    stdin_open: true
    restart: always
    ports:
      - '8080:80'
    expose:
      - '80'
    command: service nginx start
    container_name: favorite_things_nginx_release
